body {
    padding: 0px 100px;
    width: 1280px;
}

#ramde {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}

.top-menu {
    display: flex;
    height: 69px;
    list-style: none;
    margin-top: 40px;
    margin-bottom: 0px;
    background: #35444F;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: flex-end;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;

}

.top-menu>li {
    width: auto;
    padding: 24px 38px 18px 38px;
    border-right: 1px solid #FFFFFF;
}

.top-menu>li:first-child {
    border-left: 1px solid #FFFFFF;
}

.top-menu>li:hover {
    background-color: #222F3A;
}

.aside {
    width: 344px;
    height: 399px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    padding: 0px;
}

.left_menu {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    flex-direction: column;
    align-items: left;
    color: #485863;
    list-style: none;
    padding: 0;
    margin: 0;
}

.left_menu>li {
    padding: 26px 44px;
}

.left_menu>li:hover {
    background-color: #DBDBDB;
    color: #000000;
    text-align: center;
}

main {
    display: flex;
    width: 1280px;
    padding-top: 50px;
}

.left-side {
    width: 935px;
}

.content {
    height: 529px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-left: 50px;
    text-align: center;
}

img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

p {
    margin-top: 34px;
    margin-left: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0C1927;
}

.footer {
    padding: 20px 0px 7px;
    background-color: #63696E7A;
}


a:first-child{
    margin-left: 40px;
}
a {
    margin-right: 20px;
    padding-bottom: 13px;
    border-bottom: 2px solid transparent;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 28px;

    text-decoration: none;
    color: #0C1927;
}

a:hover{
    color: #3181A6;
    border-bottom: 2px solid #3181A6;
}
.footer>p{
    padding-bottom: 13px;
    border-bottom: 2px solid transparent;
    margin: 0;
    margin-left: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    padding-right: 40px;
    }